.navbar {
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
}

.navbar .container {
  height: 50px;
}

.navbar .container .nav-list {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .container .nav-list a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar .container .nav-list .nav-item {
  color: #1a1a1a;
  padding: 0 6px;
  margin-right: 16px;
  cursor: pointer;
}

.navbar .container .nav-list .nav-item:not(.droppable):hover {
  color: #777;
}

.navbar .container .nav-list .nav-item.droppable {
  position: relative;
  color: #212529;
  margin-left: 26px;
  height: 100%;
  transform: translateY(14px);
  z-index: 999;
}

.navbar .container .nav-list .nav-item.droppable .icon {
  margin-left: 5px;
}

.navbar .container .nav-list .nav-item.droppable:hover > .dropdown-menu {
  display: block;
}

.navbar .container .nav-list .nav-item.droppable .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 26px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 2px solid #cc9966;
  padding: 8px 0;
  z-index: 999;
}

.navbar
  .container
  .nav-list
  .nav-item.droppable
  .dropdown-menu
  .dropdown-item
  a {
  padding: 8px 0;
}

.navbar
  .container
  .nav-list
  .nav-item.droppable
  .dropdown-menu
  .dropdown-item
  .btn {
  display: inline-block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #fff !important;
  background: #d95143 !important;
  border-radius: 8.4px;
}

.navbar
  .container
  .nav-list
  .nav-item.droppable
  .dropdown-menu
  .dropdown-item:hover {
  color: #16181b;
  background: #f8f9fa;
}
